<div class="hover">
  <div class="login-wrapper">
    <p-card header="Login" subheader="Bem-vindo de volta" styleClass="login-card">
      <form class="login-form" [formGroup]="form">
        <div class="p-field">

          <input 
          id="email" 
          type="text" 
          pInputText
          formControlName="email"
          placeholder="Email"/>
        </div>

        <div class="p-field">
          <input 
          id="password" 
          type="password"
          formControlName="senha"
          placeholder="Senha" 
          pInputText />
        </div>

        <button
          pButton
          type="button"
          label="Entrar"
          class="p-button-rounded p-button-primary"
          (click)="submit()"
        ></button>
      </form>
    </p-card>
  </div>
</div>
