<div class="catalog-container">
  <!-- Header permanece igual -->
  <header class="search-header">
    <button
      pButton
      icon="pi pi-bars"
      (click)="toggleFiltros()"
      class="p-button-text p-button-secondary"
    ></button>
    <div class="search-box">
      <i class="pi pi-search"></i>
      <input
        type="text"
        pInputText
        placeholder="Buscar..."
        [(ngModel)]="filtroTexto"
        (input)="filtrar()"
      />
    </div>
  </header>

  <div class="catalog-layout">
    <!-- Sidebar -->
    <aside class="filter-sidebar" *ngIf="exibirFiltros">
      <div class="filter-content">
        <span class="filter-label">Categorias</span>
        <div class="category-list">
          <div *ngFor="let cat of categorias" class="checkbox-item">
            <p-checkbox
              [name]="cat"
              [value]="cat"
              [(ngModel)]="categoriasSelecionadas"
              (onChange)="filtrar()"
              [label]="cat"
            ></p-checkbox>
          </div>
        </div>
        <button
          pButton
          label="Limpar"
          class="p-button-text p-button-sm"
          (click)="limparFiltros()"
        ></button>
      </div>
    </aside>

    <!-- Área dos Livros -->
    <main class="content-area">
      <!-- Importante: Adicionamos uma classe customizada aqui 'my-custom-grid' -->
      <main class="content-area">
        <div class="card-container">
          <div *ngFor="let livro of livrosFiltrados" class="card-item">
            <div class="mini-book-card shadow-1">
              <img [src]="livro.capa" [alt]="livro.titulo" class="card-image" />

              <div class="card-overlay">
                <span class="mini-title">{{ livro.titulo }}</span>

                <div class="flex-row gap-1">
                  <button class="action-icon" (click)="toggleFavorito(livro)">
                    <i
                      [class]="
                        livro.favorito ? 'pi pi-heart-fill' : 'pi pi-heart'
                      "
                    ></i>
                  </button>

                  <button
                    class="action-icon"
                    (click)="adicionarCarrinho(livro)"
                  >
                    <i class="pi pi-shopping-cart"></i>
                  </button>
                </div>

                <button
                  class="reserve-btn"
                  [disabled]="livro.status !== 'DISPONIVEL'"
                  (click)="solicitarEmprestimo(livro)"
                >
                  Reservar
                </button>
              </div>

              <div
                class="status-dot"
                [ngClass]="getSeverity(livro.status)"
              ></div>
            </div>
          </div>
        </div>
      </main>
    </main>
  </div>
</div>
