<section class="container-nav" [ngClass]="{ collapsed: (sidebarService.collapsed$ | async) }">
  
  <!-- Logo -->
  <div class="brand-section">
    <i class="pi pi-book-open"></i>
    <span *ngIf="!collapsed">Book<span>Oteca</span></span>
  </div>

  <!-- Botão Toggle -->
  <div class="toggle-container">
    <button
      pButton
      type="button"
      [icon]="collapsed ? 'pi pi-chevron-right' : 'pi pi-chevron-left'"
      (click)="toggleSidebar()"
      class="toggle-btn"
    ></button>
  </div>

  <!-- Menu Central -->
  <div class="menu-scroll">
    <p-panelMenu
      [model]="items"
      [styleClass]="collapsed ? 'collapsed' : 'expanded'"
    ></p-panelMenu>
  </div>

  <!-- Sessão Usuário -->
  <div class="user-section">
    <div class="user-avatar">
      <p-avatar
        image="https://avatars.githubusercontent.com/u/192734655?v=4"
        shape="circle"
        size="large">
      </p-avatar>
    </div>

    <div class="user-info-container" *ngIf="!collapsed">
      <span class="user-name">{{ userNome }}</span>
      <p-dropdown
        [options]="filteredDropdown"
        [(ngModel)]="OptionSelected"
        optionLabel="name"
        placeholder="Minha Conta"
        (onChange)="navigateOut($event.value)"
        appendTo="body"> <!-- IMPORTANTE: Faz o menu flutuar fora da sidebar -->
      </p-dropdown>
    </div>
  </div>
</section>