.flex-card{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
img{
    width: 10rem;
}

::ng-deep .p-card{
    margin-bottom: 1rem ;
}

.card-lembrete{
    max-width: 30rem ;
    max-height: 2rem;
    overflow: hidden;
    margin-bottom: 0.5rem;
    box-shadow: 0 0 3px 0px rgba(0,0,0,0.4);
    padding: 0.4rem;
    border-radius: 0.5rem;
}

.card-scroll {
  width: 30rem;
  max-height: 1px;
  overflow-y: auto;
}

