<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Gerenciamento de Usuários</title>
  </head>

  <body>
    <header>Gerenciamento de Usuários</header>

    <div class="container">
      <div class="top-bar">
        <h2>Leitores Ativos</h2>
        <button onclick="abrirModal()">+ Novo Usuário</button>
      </div>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>CPF</th>
            <th>Ações</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let usuariosLogados of usuariosLogados">
            <td>{{ usuariosLogados.idUsuario }}</td>
            <td>{{ usuariosLogados.Nome }}</td>
            <td>{{ usuariosLogados.Email }}</td>
            <td>{{ usuariosLogados.CPF }}</td>
            <td class="actions">
              <button (click)="editUser(usuariosLogados)">Editar</button>
              <button (click)="deleteUser(usuariosLogados)" class="delete">
                Excluir
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
